<!-- templates/produtos/lista_produtos.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li><a href="{% url 'detalhes_produto' produto.id %}">{{ produto.nome }}</a> - R$ {{ produto.preco }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'adicionar_produto' %}">Adicionar Novo Produto</a>
</body>
</html>
