<!-- templates/produtos/lista_produtos.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - R$ {{ produto.preco }}</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{% url 'adicionar_produto' %}'">Adicionar Novo Produto</button>
</body>
</html>
