{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'produtos/styles_lista.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        {% for produto in produtos %}
            <div class="produto">
                <div>
                    <h2><a href="{% url 'detalhes_produto' produto.id %}">{{ produto.nome }}</a></h2>
                    <p class="preco">Preço: R$ {{ produto.preco }}</p>
                    <p>{{ produto.descricao }}</p>
                </div>
                <div class="botoes">
                    <a href="{% url 'editar_produto' produto.id %}" class="editar">Editar</a>
                    <form action="{% url 'deletar_produto' produto.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="excluir">Excluir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="adicionar-link">
            <a href="{% url 'adicionar_produto' %}">Adicionar Novo Produto</a>
        </div>
    </div>
</body>
</html>