body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.cliente {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.cliente p {
    margin-bottom: 10px;
}

.cliente .botoes {
    display: flex;
    justify-content: space-between;
}

.cliente .botoes a, .cliente .botoes button {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.cliente .botoes a.editar, .cliente .botoes button.excluir {
    background-color: #28a745;
}

.cliente .botoes a.editar:hover, .cliente .botoes button.excluir:hover {
    background-color: #218838;
}

.cliente .botoes button.excluir {
    background-color: #dc3545;
}

.cliente .botoes button.excluir:hover {
    background-color: #c82333;
}

.adicionar-link {
    margin-top: 20px;
    text-align: center;
}

.adicionar-link a {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.adicionar-link a:hover {
    background-color: #0056b3;
}
