{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
     <link rel="stylesheet" type="text/css" href="{% static 'página_principal/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Gerenciamento</h1>
        <ul class="menu">
            <li><a href="{% url 'produtos:lista_produtos' %}">Lista de Produtos</a></li>
            <li><a href="{% url 'clientes:lista_clientes' %}">Lista de Clientes</a></li>
            <li><a href="{% url 'vendas:lista_vendas' %}">Lista de Vendas</a></li>
        </ul>
    </div>
</body>
</html>