{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/styles_editar_clientes.css' %}">
</head>
<body>
    <div class="container">
        <h1>Editar Cliente</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_nome">Nome:</label>
            <input type="text" id="id_nome" name="nome" value="{{ cliente.nome }}" required>
            <label for="id_telefone">Telefone:</label>
            <input type="text" id="id_telefone" name="telefone" value="{{ cliente.telefone }}" required>
            <label for="id_cpf">CPF:</label>
            <input type="text" id="id_cpf" name="cpf" value="{{ cliente.cpf }}" required>
            <button type="submit" class="salvar">Salvar Alterações</button>
            <a href="{% url 'clientes:lista_clientes' %}" class="voltar">Voltar para Lista de Clientes</a>
        </form>
    </div>
</body>
</html>
